.footerAboutUs {
  width: 100%;
  max-width: 1920px;
  height: 47px !important;
  background-color: rgb(32, 40, 70);
  position: relative;
  display: flex;
  z-index: 2;
  margin-top: 153px;
  flex-grow: 1;
  margin-bottom: 130px;
  }

.footer__text {
  display: flex;
  position: absolute;
  color: #EEECF1; 
  font-size: 36px;
   font-family: PT Sans, sans-serif;
   font-weight: 400;
   width: 709px;
   margin-left: 60px;
   margin-right: 1151px; 
}
footerAboutUs::after {
  content: '';
  display: block;
  width: 100%;
  height: calc(100vh - 681px); /* Займає залишкову висоту */
  background-color: var(--gray-dark); /* Колір фону gray-dark */
}
