.photoAboutUs {
position: relative;
align-self: flex-start;
top: 1px;
max-width: 1920px;
height: 140px;
background-color: #C6C6DC;
text-align: left;
font-family: "PtSans-Italic", sans-serif;
font-size: 48px;
font-weight: 400;
font-style: italic;
display: flex;
align-items: center;
justify-content: flex-start;
color: #202846;

  }
  .photoAboutUs span {
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: 180px;
    margin-top: 60px;
  }
  
  @media (max-width: 1920px) {
      .photoAboutUs {
        width: 100%;/* Робить ширину адаптивною */
       
         
      }
    }
  
  

  