.content {
    display: flex;
    position: relative;
    width: 101px;
    height: 101px;
    background-color: #555768;
    z-index: 5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    padding: 0;
    margin-top: -1020px;
    margin-left: 950px;
    transition: background-color 0.3s;
 
}
.arrow__img {
    display: block;
    position: absolute;
    width: 43.29px;
    height: 43.29px;
    transform: rotate(0deg);
    
    z-index: 10;
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%);
    transition: transform 0.3s; 
    border: 0px white solid;
    align-items: center;
    justify-content: center;
    
}